/** Login Configuration for the JAAS/Equinox-Security Sample Application **/

WIN32 {
	org.eclipse.equinox.security.auth.module.ExtensionLoginModule required
		debug="true"
		extensionId="org.eclipse.equinox.security.sample.ntLoginModule";
};

CentralSecurity {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required debug="true" 
    extensionId="org.eclipse.riena.security.simpleservices.SampleLoginModule"
    accounts.file="config/accounts.properties";
};