<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="loginSplashViewDefinition" name="LoginSplashView Definition" schema="schema/loginSplashViewDefinition.exsd"/>
   <extension-point id="moduleView" name="ModuleView Definition" schema="schema/moduleView.exsd"/>
   <extension-point id="moduleGroupView" name="ModuleGroupView definition" schema="schema/moduleGroupView.exsd"/>
   <extension-point id="statusLine" name="StatusLine configuration" schema="schema/statusLine.exsd"/>
   <extension-point id="windowNavigator" name="Window Navigator" schema="schema/windowNavigator.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.navigation.ui.swt.views.NavigationViewPart"
            id="org.eclipse.riena.navigation.ui.swt.views.navigationViewPart"
            name="NavigationTreeView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.navigation.ui.swt.views.StatusLineViewPart"
            id="org.eclipse.riena.navigation.ui.swt.views.statusLineView"
            name="StatusLineView">
      </view>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.lnfRenderers">
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellRenderer"
            lnfkey="TitlelessShell.renderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellBorderRenderer"
            lnfkey="TitlelessShell.borderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellLogoRenderer"
            lnfkey="TitlelessShell.logoRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubApplicationTabRenderer"
            lnfkey="SubApplication.tabRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubApplicationSwitcherRenderer"
            lnfkey="SubApplication.switcherRenderer">
      </renderer>

      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ModuleGroupRenderer"
            lnfkey="ModuleGroup.renderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ModuleGroupBorderRenderer"
            lnfkey="ModuleGroup.borderRenderer">
      </renderer>

      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubModuleViewRenderer"
            lnfkey="SubModuleView.renderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.HoverBorderRenderer"
            lnfkey="SubModuleView.hoverBorderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.EmbeddedTitlebarRenderer"
            lnfkey="SubModuleView.titlebarRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.EmbeddedBorderRenderer"
            lnfkey="SubModuleView.borderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubModuleTreeItemMarkerRenderer"
            lnfkey="SubModuleTreeItemMarker.renderer">
      </renderer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.riena.navigation.ui.swt"
            name="Riena Navigation Commands">
      </category>
      <command
            id="org.eclipse.riena.navigation.ui.nextSubApplication"
            name="Next SubApplication"
            categoryId="org.eclipse.riena.navigation.ui.swt">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.previousSubApplication"
            name="Previous SubApplication"
            categoryId="org.eclipse.riena.navigation.ui.swt">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.switchToWorkarea"
            name="Switch to Workarea"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchToWorkarea">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.switchToNavigation"
            name="Switch to Navigation"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchToNavigation">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.switchToWindowMenu"
            name="Switch to the Window Menu"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchToWindowMenu">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.previousSubApplication"
            name="Previous sub-application"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchSubApplication:previous">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.nextSubApplication"
            name="Next sub-application"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchSubApplication:next">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.closeModule"
            name="Close module"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.CloseModule">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.closeModuleGroup"
            name="Close module group"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.CloseModuleGroup">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.exit"
            name="Exit Application"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.ExitApplication">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.nextModule"
            name="Next group"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchModule:next">
      </command>
      <command
            id="org.eclipse.riena.navigation.ui.previousModule"
            name="Previous group"
            categoryId="org.eclipse.riena.navigation.ui.swt"
            defaultHandler="org.eclipse.riena.internal.navigation.ui.swt.handlers.SwitchModule:previous">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.eclipse.riena.ui.defaultBindings"
            name="Default Riena Key Bindings">
      </scheme>
      <key
            commandId="org.eclipse.riena.navigation.ui.switchToNavigation"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="F6">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.switchToWorkarea"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="F7">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.switchToWindowMenu"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="F10"
            platform="win32">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.previousSubApplication"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+PAGE_UP">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.nextSubApplication"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+PAGE_DOWN">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.nextModule"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.previousModule"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.riena.navigation.ui.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M3+F4"
            platform="win32">
      </key>
      <key
      		commandId="org.eclipse.riena.navigation.ui.closeModule"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+W">
      </key>
      <key
      		commandId="org.eclipse.riena.navigation.ui.closeModuleGroup"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.riena.ui.defaultBindings"
            sequence="M1+M2+W">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.riena.internal.navigation.ui.swt.handlers.NavigationSourceProvider">
         <variable
               name="activeSubModuleNodeId"
               priorityLevel="activeSite">
         </variable>
         <variable
               name="activeSubApplicationNodeId"
               priorityLevel="activeSite">
         </variable>
         <variable
               name="activeModuleGroupNodeId"
               priorityLevel="activeSite">
         </variable>
         <variable
               name="activeModuleNodeId"
               priorityLevel="activeSite">
         </variable>
      </sourceProvider>
   </extension>
</plugin>
