<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.navigation.ui.swt.views.NavigationViewPart"
            id="org.eclipse.riena.navigation.ui.swt.views.navigationViewPart"
            name="NavigationTreeView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationSwitcherViewPart"
            id="org.eclipse.riena.navigation.ui.swt.views.subApplicationSwitcherView"
            name="SubApplicationSwitcherView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.navigation.ui.swt.views.StatusLineViewPart"
            id="org.eclipse.riena.navigation.ui.swt.views.statusLineView"
            name="StatusLineView">
      </view>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.lnfrenderer">
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellRenderer"
            lnfkey="TitlelessShell.renderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellBorderRenderer"
            lnfkey="TitlelessShell.borderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ShellLogoRenderer"
            lnfkey="TitlelessShell.logoRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubApplicationTabRenderer"
            lnfkey="SubApplication.tabRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubApplicationSwitcherRenderer"
            lnfkey="SubApplication.switcherRenderer">
      </renderer>

      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.ModuleGroupRenderer"
            lnfkey="ModuleGroup.renderer">
      </renderer>

      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubModuleViewRenderer"
            lnfkey="SubModuleView.renderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.HoverBorderRenderer"
            lnfkey="SubModuleView.hoverBorderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.EmbeddedTitlebarRenderer"
            lnfkey="SubModuleView.titlebarRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.EmbeddedBorderRenderer"
            lnfkey="SubModuleView.borderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.navigation.ui.swt.lnf.renderer.SubModuleTreeItemMarkerRenderer"
            lnfkey="SubModuleTreeItemMarker.renderer">
      </renderer>
   </extension>
   
</plugin>
