<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="processDetailComparator" name="PrecessDetail comparator" schema="schema/processDetailComparator.exsd"/>
   <extension
         point="org.eclipse.riena.ui.swt.lnfMarkerSupport">
      <markerSupport
            class="org.eclipse.riena.ui.ridgets.swt.MarkerSupport"
            id="defaultMarkerSupport">
      </markerSupport>
      <markerSupport
            class="org.eclipse.riena.ui.ridgets.swt.BorderMarkerSupport"
            id="borderMarkerSupport">
      </markerSupport>
   </extension>

</plugin>
