<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point 
       id="assemblies" 
       name="Navigation assemblies" 
       schema="schema/assemblies.exsd"/>
   <extension-point 
       id="assemblies2" 
       name="Navigation assemblies2" 
       schema="schema/assemblies2.exsd"/>
   <extension-point 
       id="navigationNodeProvider" 
       name="Navigation node provider" 
       schema="schema/navigationNodeProvider.exsd"/>
   		
	<extension point="org.eclipse.core.variables.dynamicVariables">
		<variable
			description="Navigation node id. Argument MUST be one of 'typeId' or 'instanceId'."
			name="riena.navigation.nodeid"
			resolver="org.eclipse.riena.navigation.model.ThreadLocalMapResolver"
			supportsArgument="true"/>
		<variable
			description="Navigation context. Argument MUST be an accessable property of navigation node context object."
			name="riena.navigation.nodecontext"
			resolver="org.eclipse.riena.navigation.model.ThreadLocalMapResolver"
			supportsArgument="true"/>
		<variable
			description="Navigation parameter. Argument MUST be an accessable property of navigation user object."
			name="riena.navigation.parameter"
			resolver="org.eclipse.riena.navigation.model.ThreadLocalMapResolver"
			supportsArgument="true"/>
	</extension>
	
   <extension
          point="org.eclipse.riena.navigation.navigationNodeProvider">
      <navigationNodeProvider
             id="defaultNavigationNodeProvider"
             class="org.eclipse.riena.navigation.model.SimpleNavigationNodeProvider"
             priority="-100">
      </navigationNodeProvider>
   </extension>

</plugin>
