<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.riena.navigation.navigationNode" name="navigationNode" schema="schema/org.eclipse.riena.navigation.navigationNode.exsd"/>
   <extension-point id="org.eclipse.riena.navigation.subModule" name="subModule" schema="schema/org.eclipse.riena.navigation.subModule.exsd"/>

</plugin>
