<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="collectors" name="Collectors" schema="schema/collectors.exsd"/>
   <extension-point id="sender" name="Sender" schema="schema/sender.exsd"/>
   <extension-point id="store" name="Store" schema="schema/store.exsd"/>
   <extension-point id="clientInfoProvider" name="Client information provider" schema="schema/clientInfoProvider.exsd"/>
   
	<extension
        point="org.eclipse.riena.core.startups">
      <startup 
      	activateSelf="true">
      </startup>
	</extension>
   
   <!-- examplary monitoring setup
   
   <extension point="org.eclipse.riena.monitor.client.collectors">
      <collector
            category="LogCollector"
            class="org.eclipse.riena.monitor.client.LogServiceCollector: collectRange=1..4; triggerRange=1,2"
            maxItems="100">
      </collector>
      <collector
            category="CustomCollector"
            class="org.eclipse.riena.monitor.client.LogServiceCollector: collectRange=-2..0; triggerRange=-2; async=false"
            maxItems="500">
      </collector>
   </extension>

   <extension point="org.eclipse.riena.monitor.client.store">
      <store
            name="SimpleStore"
            class="org.eclipse.riena.monitor.client.SimpleStore:cleanupDelay=1 h">
      </store>
	</extension>
	
   <extension point="org.eclipse.riena.monitor.client.sender">
      <sender
            name="SimpleSender"
            class="org.eclipse.riena.monitor.client.SimpleSender:retryTime=20 m">
      </sender>
	</extension>

	<extension point="org.eclipse.riena.monitor.client.clientInfoProvider">
       <clientInfoProvider
            name="SimpleClientInfoProvider"
            class="org.eclipse.riena.monitor.client.SimpleClientInfoProvider:user.name,x-host.name">
       </clientInfoProvider>
 	</extension>
	
	-->
	
</plugin>
