<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.eclipse.ui.views">
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" id="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" name="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" id="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" name="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" id="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" name="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.LabelView" id="org.eclipse.riena.example.client.javafx.views.LabelView" name="org.eclipse.riena.example.client.javafx.views.LabelView"/>
    <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.LabelView" id="org.eclipse.riena.example.client.javafx.views.LabelView" name="org.eclipse.riena.example.client.javafx.views.LabelView"/>
    </extension>
    <extension point="org.eclipse.ui.perspectives">
        <perspective class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView" id="org.eclipse.riena.example.client.javafx.JavaFX.perspective" name="org.eclipse.riena.example.client.javafx.JavaFX.perspective"/>
    </extension>
<extension point="org.eclipse.riena.navigation.assemblies2">
        <assembly2 id="org.eclipse.riena.example.client.javafx" name="JavaFX Examples" parentNodeId="application" startOrder="1">
            <subApplication name="JavaFX" nodeId="org.eclipse.riena.example.client.javafx.JavaFX.subapp" perspectiveId="org.eclipse.riena.example.client.javafx.JavaFX.perspective">
                <moduleGroup name="Playground" nodeId="org.eclipse.riena.example.client.javafx.Playground.modulegroup">
                    <module closable="true" name="Playground" nodeId="org.eclipse.riena.example.client.javafx.Playground.module">
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.GotoJavaFxController" expanded="false" name="GotoJavaFx" nodeId="org.eclipse.riena.example.client.javafx.GotoJavaFx.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" visible="true"/>
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.LabelController" expanded="false" name="Label" nodeId="org.eclipse.riena.example.client.javafx.Label.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.LabelView" visible="true"/>
                    </module>
                </moduleGroup>
            </subApplication>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.Addition" name="JavaFX Examples" parentNodeId="org.eclipse.riena.example.client.javafx.Playground.module" startOrder="2">
            <subModule controller="org.eclipse.riena.example.client.javafx.controller.JavaFxAdditionController" expanded="false" name="Addition" nodeId="org.eclipse.riena.example.client.javafx.Addition.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" visible="true"/>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.AdditionEclipseBinding" name="JavaFX Examples" parentNodeId="org.eclipse.riena.example.client.javafx.Playground.module" startOrder="3">
            <subModule controller="org.eclipse.riena.example.client.javafx.controller.JavaFxAdditionController" expanded="false" name="Addition" nodeId="org.eclipse.riena.example.client.javafx.AdditionEclipseBinding.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" visible="true"/>
        </assembly2>
    </extension>
<extension
      point="org.eclipse.riena.ui.swt.imagePaths">
   <path
         path="icons">
   </path>
</extension>
</plugin>
