<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.eclipse.ui.views">
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" id="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" name="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" id="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" name="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" id="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" name="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.LabelView" id="org.eclipse.riena.example.client.javafx.views.LabelView" name="org.eclipse.riena.example.client.javafx.views.LabelView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.LabelView" id="org.eclipse.riena.example.client.javafx.views.LabelView" name="org.eclipse.riena.example.client.javafx.views.LabelView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.TextFieldView" id="org.eclipse.riena.example.client.javafx.views.TextFieldView" name="org.eclipse.riena.example.client.javafx.views.TextFieldView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.MarkerView" id="org.eclipse.riena.example.client.javafx.views.MarkerView" name="org.eclipse.riena.example.client.javafx.views.MarkerView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.ButtonView" id="org.eclipse.riena.example.client.javafx.views.ButtonView" name="org.eclipse.riena.example.client.javafx.views.ButtonView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.UsersView" id="org.eclipse.riena.example.client.javafx.views.UsersView" name="org.eclipse.riena.example.client.javafx.views.UsersView"/>
        <view allowMultiple="true" class="org.eclipse.riena.example.client.javafx.views.UserView" id="org.eclipse.riena.example.client.javafx.views.UserView" name="org.eclipse.riena.example.client.javafx.views.UserView"/>
    </extension>
    <extension point="org.eclipse.ui.perspectives">
        <perspective class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView" id="org.eclipse.riena.example.client.javafx.JavaFX.perspective" name="org.eclipse.riena.example.client.javafx.JavaFX.perspective"/>
    </extension>
    <extension point="org.eclipse.riena.ui.swt.imagePaths">
        <path path="icons"/>
    </extension>
<extension point="org.eclipse.riena.navigation.assemblies2">
        <assembly2 id="org.eclipse.riena.example.client.javafx" name="JavaFX Examples" parentNodeId="application" startOrder="1">
            <subApplication name="JavaFX" nodeId="org.eclipse.riena.example.client.javafx.JavaFX.subapp" perspectiveId="org.eclipse.riena.example.client.javafx.JavaFX.perspective">
                <moduleGroup name="Playground" nodeId="org.eclipse.riena.example.client.javafx.Playground.modulegroup">
                    <module closable="true" name="Playground" nodeId="org.eclipse.riena.example.client.javafx.Playground.module">
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.LabelController" expanded="false" name="Label" nodeId="org.eclipse.riena.example.client.javafx.Label.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.LabelView" visible="true"/>
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.TextFieldController" expanded="false" name="TextField" nodeId="org.eclipse.riena.example.client.javafx.TextField.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.TextFieldView" visible="true"/>
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.ButtonController" expanded="false" name="Button" nodeId="org.eclipse.riena.example.client.javafx.Button.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.ButtonView" visible="true"/>
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.MarkerController" expanded="false" name="Marker" nodeId="org.eclipse.riena.example.client.javafx.Marker.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.MarkerView" visible="true"/>
                        <subModule controller="org.eclipse.riena.example.client.javafx.controller.GotoJavaFxController" expanded="false" name="GotoJavaFx" nodeId="org.eclipse.riena.example.client.javafx.GotoJavaFx.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.GotoJavaFxView" visible="true"/>
                    </module>
                </moduleGroup>
            </subApplication>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.Addition" name="JavaFX Examples" parentNodeId="org.eclipse.riena.example.client.javafx.Playground.module">
            <subModule controller="org.eclipse.riena.example.client.javafx.controller.JavaFxAdditionController" expanded="false" name="Addition" nodeId="org.eclipse.riena.example.client.javafx.Addition.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionView" visible="true"/>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.AdditionEclipseBinding" name="JavaFX Examples" parentNodeId="org.eclipse.riena.example.client.javafx.Playground.module">
            <subModule controller="org.eclipse.riena.example.client.javafx.controller.JavaFxAdditionController" expanded="false" name="Addition" nodeId="org.eclipse.riena.example.client.javafx.AdditionEclipseBinding.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.JavaFxAdditionEclipseBindingView" visible="true"/>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.Users.assembly" name="Users" parentNodeId="org.eclipse.riena.example.client.javafx.JavaFX.subapp" startOrder="3">
            <moduleGroup name="Users" nodeId="org.eclipse.riena.example.client.javafx.Users.modulegroup">
                <module closable="false" icon="person.gif" name="Users" nodeId="org.eclipse.riena.example.client.javafx.Users.module">
                    <subModule controller="org.eclipse.riena.example.client.javafx.controller.UsersController" expanded="false" name="Users" nodeId="org.eclipse.riena.example.client.javafx.Users.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.UsersView" visible="true"/>
                </module>
            </moduleGroup>
        </assembly2>
        <assembly2 id="org.eclipse.riena.example.client.javafx.User.assembly" name="User" parentNodeId="org.eclipse.riena.example.client.javafx.Users.module">
            <subModule controller="org.eclipse.riena.example.client.controllers.UserController" expanded="false" name="User" nodeId="org.eclipse.riena.example.client.javafx.User.submodule" requiresPreparation="false" selectable="true" sharedView="false" viewId="org.eclipse.riena.example.client.javafx.views.UserView" visible="true"/>
        </assembly2>
    </extension>
</plugin>
