<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin><extension
         id="org.eclipse.riena.demo.client.application"
         name="org.eclipse.riena.demo.client.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.demo.client.application.SwtDemoApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="customer"
            name="Customer">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="order"
            name="Order">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="pim"
            name="Mail">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerSearchView"
            id="riena.demo.customersearch"
            name="demo client Customer Search"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerContractView"
            id="org.eclipse.riena.demo.customerRecordContract"
            name="customerRecordContract"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerOverviewView"
            id="org.eclipse.riena.demo.customerRecordOverview"
            name="customerRecordOverview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.riena.demo.client.exitCommand"
            name="Exit">
      </command>
      <command
            id="org.eclipse.riena.demo.client.zoomInCommand"
            name="In">
      </command>
      <command
            id="org.eclipse.riena.demo.client.certainViewCommand"
            name="Certain View (Combo)">
      </command>
      <command
            id="org.eclipse.riena.demo.client.zoomOutCommand"
            name="Out">
      </command>
      <command
            id="org.eclipse.riena.demo.client.certainPerspectiveCommand"
            name="Certain Perspective (Playground)">
      </command>
            <command
            id="org.eclipse.riena.demo.client.histBackCommand"
            name="History Backward">
      </command>
      <command
            id="org.eclipse.riena.demo.client.histForCommand"
            name="History Forward">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <menu
                  id="org.eclipse.riena.demo.client.zoomMenu"
                  label="Zoom"
                  mnemonic="Z">
               <command
                     commandId="org.eclipse.riena.demo.client.zoomInCommand"
                     id="org.eclipse.riena.demo.client.zoomInMenuItem"
                     mnemonic="I"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.riena.demo.client.zoomOutCommand"
                     id="org.eclipse.riena.demo.client.zoomOutMenuItem"
                     mnemonic="O"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.riena.demo.client.exitCommand"
                  id="org.eclipse.riena.demo.client.exitMenuItem"
                  mnemonic="x">
            </command>
         </menu>
         <!--
         <menu
               label="Preferences"
               mnemonic="P">
            <menu
                  label="Look &apos;n&apos; Feel"
                  mnemonic="L">
               <command
                     commandId="org.eclipse.riena.example.client.rienaDefaultLnfCommand"
                     id="org.eclipse.riena.example.client.rienaDefaultLnfMenuItem"
                     mnemonic="D">
               </command>
               <command
                     commandId="org.eclipse.riena.example.client.exampleLnfCommand"
                     id="org.eclipse.riena.example.client.exampleLnfMenuItem"
                     mnemonic="x">
               </command>
            </menu>
         </menu>
         -->
         <menu
               id="contextMenu"
               label="Context menu"
               mnemonic="x">
            <command
                  commandId="org.eclipse.riena.demo.client.certainViewCommand"
                  icon="icons/ledred.png"
                  id="org.eclipse.riena.demo.client.certainViewMenuItem"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.certainPerspectiveCommand"
                  icon="icons/ledlightgreen.png"
                  id="org.eclipse.riena.demo.client.certainPerspectiveMenuItem"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="navigationMenu"
               label="Navigation menu"
               mnemonic="N">
            <command
                  commandId="org.eclipse.riena.demo.client.histBackCommand"
                  icon="icons/backward.gif"
                  id="org.eclipse.riena.demo.client.histBackMenuItem"
                  mnemonic="B"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.histForCommand"
                  icon="icons/forward.gif"
                  id="org.eclipse.riena.demo.client.histForMenuItem"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.riena.demo.client.toolbar">
            <command
                  commandId="org.eclipse.riena.demo.client.exitCommand"
                  id="org.eclipse.riena.demo.client.exitToolBarItem"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.certainViewCommand"
                  icon="icons/ledred.png"
                  id="org.eclipse.riena.demo.client.certainViewToolBarItem"
                  label="View"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.certainPerspectiveCommand"
                  icon="icons/ledlightgreen.png"
                  label="Perspective"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.histBackCommand"
                  icon="icons/backward.gif"
                  label="History Back"
                  mnemonic="B"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.demo.client.histForCommand"
                  icon="icons/forward.gif"
                  label="History Forward"
                  mnemonic="F"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.riena.demo.client.handler.ExitHandler"
            commandId="org.eclipse.riena.demo.client.exitCommand">
      </handler>
      <handler
            class="org.eclipse.riena.demo.client.handler.HistoryBackwardHandler"
            commandId="org.eclipse.riena.demo.client.histBackCommand">
      </handler>
      <handler
            class="org.eclipse.riena.demo.client.handler.HistoryForwardHandler"
            commandId="org.eclipse.riena.demo.client.histForCommand">
      </handler>
   </extension>
     <extension
         point="org.eclipse.riena.navigation.assemblies">
         <assembly
               id="riena.demo.client.customer.assembly"
               name="customer"
               autostartsequence="100"
               parentTypeId="application">
            <subapplication
                  label="Customer"
                  icon="0457_a_a00.png"
                  typeId="riena.demo.client.customer"
                  view="customer"/>
         </assembly>
         <assembly
               id="riena.demo.client.mail.assembly"
               name="mail SubApp"
               autostartsequence="200"
               parentTypeId="application">
            <subapplication
                  label="Mail"
                  typeId="riena.demo.client.mail"
                  view="pim">
            </subapplication>
         </assembly>
      
         <assembly
            id="riena.demo.client.customersearch.assembly"
            autostartsequence="110"
            name="customerSearch"
            parentTypeId="riena.demo.client.customer">
         <modulegroup
               name="customer search module group"
               typeId="riena.demo.client.customersearch.group">
            <module
                  label="Customersearch"
                  name="customer search module"
                  unclosable="true">
               <submodule
                     typeId="riena.demo.client.customersearch"
                     name="customersearch"
                     label="Search"
                     icon="ledlightgreen.png"
                     view="riena.demo.customersearch"
                     controller="org.eclipse.riena.demo.client.controllers.CustomerSearchController"/>
            </module>
         </modulegroup>
      </assembly>
      <assembly
            id="riena.demo.client.customerrecord.assembly"
            name="customerRecord"
            parentTypeId="riena.demo.client.customer">
         <modulegroup
               typeId="riena.demo.client.customerrecord.group">
            <module
                  label="${riena.navigation.parameter:firstName} ${riena.navigation.parameter:lastName}"
                  typeId="riena.demo.client.CustomerRecord">
               <submodule
                     controller="org.eclipse.riena.demo.client.controllers.CustomerOverviewController"
                     label="Overview"
                     shared="false"
                     typeId="riena.demo.client.customer.overview"
                     view="org.eclipse.riena.demo.customerRecordOverview">
               </submodule>
               <submodule
                     controller="org.eclipse.riena.demo.client.controllers.CustomerContractController"
                     label="Contracts"
                     shared="false"
                     typeId="riena.demo.client.customer.contracts"
                     view="org.eclipse.riena.demo.customerRecordContract">
               </submodule>
            </module>
         </modulegroup>
      </assembly>
      <assembly
            id="riena.demo.client.order.assembly"
            name="order subapp"
            autostartsequence="300"
            parentTypeId="application">
         <subapplication
               label="Order"
               typeId="org.eclipse.riena.demo.client.customer.order"
               view="order">
         </subapplication>
      </assembly>
     </extension>
     <extension
           point="org.eclipse.riena.filter.uifilter">
        <filter
              filterId="demo.assistent">
           <nodeId
                 id="/application">
           </nodeId>
           <ruleMarkerRidget
                 marker="hidden"
                 ridgetId="/application/*/salary*">
           </ruleMarkerRidget>
           <ruleMarkerNavigation
                 marker="hidden"
                 nodeId="/application/*/riena.demo.client.customer.contracts">
           </ruleMarkerNavigation>
        </filter>
     </extension>
     <extension
           point="org.eclipse.riena.filter.uifilter">
        <filter
              filterId="demo.mandatory">
           <nodeId
                 id="/application">
           </nodeId>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/street">
           </ruleMarkerRidget>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/zipCode">
           </ruleMarkerRidget>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/city">
           </ruleMarkerRidget>
                      <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/birthDate">
           </ruleMarkerRidget>
                      <ruleValidatorRidget
                            ridgetId="/application/*/salary"
                            validationTime="onUpdateToModel"
                            validator="org.eclipse.riena.demo.client.validator.SalaryMoreThanNull">
                      </ruleValidatorRidget>
        </filter>
     </extension>
     <extension
         point="org.eclipse.riena.ui.swt.imagepath">
      <path
            path="icons">
      </path>
   </extension>
     <extension
           point="org.eclipse.core.variables.valueVariables">
        <variable
			description="Name of the host to connect to"
			name="riena.host"
			readOnly="true"
			initialValue="localhost:8080"/>
     </extension>

</plugin>
