<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin><extension
         id="org.eclipse.riena.demo.client.application"
         name="org.eclipse.riena.demo.client.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.demo.client.application.SwtDemoApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="customer"
            name="Customer">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="order"
            name="Order">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="pim"
            name="Mail">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerSearchView"
            id="riena.demo.customersearch"
            name="demo client Customer Search"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerContractView"
            id="org.eclipse.riena.demo.customerRecordContract"
            name="customerRecordContract"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.CustomerOverviewView"
            id="org.eclipse.riena.demo.customerRecordOverview"
            name="customerRecordOverview"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.EmailView"
            id="riena.demo.client.mail.folder"
            name="mailFolder"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.demo.client.views.EmailView2"
            id="riena.demo.client.mail.folder2"
            name="mailFolder2"
            restorable="true">
      </view>
   </extension>

     <extension
         point="org.eclipse.riena.navigation.assemblies2">
         <assembly2
               id="riena.demo.client.customer.assembly2"
               name="customer"
               startOrder="100"
               parentNodeId="application">
            <subApplication
                  name="Customer"
                  icon="0457_a_a00.png"
                  nodeId="riena.demo.client.customer"
                  perspectiveId="customer"/>
         </assembly2>
         <assembly2
               id="riena.demo.client.mail.assembly2"
               name="mail SubApp"
               startOrder="200"
               parentNodeId="application">
            <subApplication
                  name="Mail"
                  nodeId="riena.demo.client.mail"
                  perspectiveId="pim">
            </subApplication>
         </assembly2>

         <assembly2
            id="riena.demo.client.customersearch.assembly2"
            startOrder="110"
            name="customerSearch"
            parentNodeId="riena.demo.client.customer">
         <moduleGroup
               name="customer search module group"
               nodeId="riena.demo.client.customersearch.group">
            <module
            	  nodeId="riena.demo.client.customersearch.module"
                  name="Customersearch"
                  closable="false">
               <subModule
                     nodeId="riena.demo.client.customersearch"
                     name="Search"
                     icon="ledlightgreen.png"
                     viewId="riena.demo.customersearch"
                     controller="org.eclipse.riena.demo.client.controllers.CustomerSearchController"/>
            </module>
         </moduleGroup>
      </assembly2>
      <assembly2
            id="riena.demo.client.customerrecord.assembly2"
            name="customerRecord"
            parentNodeId="riena.demo.client.customer">
         <moduleGroup
               nodeId="riena.demo.client.customerrecord.group">
            <module
                  name="${riena.navigation.parameter:firstName} ${riena.navigation.parameter:lastName}"
                  nodeId="riena.demo.client.CustomerRecord">
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.CustomerOverviewController"
                     name="Overview"
                     sharedView="false"
                     nodeId="riena.demo.client.customer.overview"
                     viewId="org.eclipse.riena.demo.customerRecordOverview">
               </subModule>
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.CustomerContractController"
                     name="Contracts"
                     sharedView="false"
                     nodeId="riena.demo.client.customer.contracts"
                     viewId="org.eclipse.riena.demo.customerRecordContract">
               </subModule>
            </module>
         </moduleGroup>
      </assembly2>
      <assembly2
            id="riena.demo.client.order.assembly2"
            name="order subapp"
            startOrder="300"
            parentNodeId="application">
         <subApplication
               name="Order"
               nodeId="org.eclipse.riena.demo.client.customer.order"
               perspectiveId="order">
         </subApplication>
      </assembly2>
      <assembly2
            startOrder="210"
            id="riena.demo.client.mailfolders.assembly2"
            name="E-Mail"
            parentNodeId="riena.demo.client.mail">
         <moduleGroup
               name="E-Mail folders module group"
               nodeId="riena.demo.client.mailfolders.moduleGroup">
            <module
                  name="E-Mails"
                  nodeId="riena.demo.client.mailfolders.module"
                  closable="false">
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.EmailInboxController"
                     name="Inbox"
                     nodeId="riena.demo.client.mailfolders.inbox"
                     viewId="riena.demo.client.mail.folder">
               </subModule>
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.EmailSentController"
                     name="Sent"
                     nodeId="riena.demo.client.mailfolders.sent"
                     viewId="riena.demo.client.mail.folder">
               </subModule>
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.EmailDraftController"
                     name="Draft"
                     nodeId="riena.demo.client.mailfolders.draft"
                     viewId="riena.demo.client.mail.folder">
               </subModule>
            </module>
         </moduleGroup>
      </assembly2>
      <assembly2
            id="riena.demo.client.customermailfolders.assembly2"
            name="Customer E-Mail"
            parentNodeId="riena.demo.client.mail">
         <moduleGroup
               name="Customer E-Mail folders module group"
               nodeId="riena.demo.client.customermailfolders.moduleGroup">
            <module
                  name="${riena.navigation.parameter:emailAddress}"
                  nodeId="riena.demo.client.customermailfolders.module">
               <subModule
                     controller="org.eclipse.riena.demo.client.controllers.EmailCustomerController"
                     name="Inbox"
                     nodeId="riena.demo.client.customermailfolders.mails"
                     viewId="riena.demo.client.mail.folder2">
               </subModule>
            </module>
         </moduleGroup>
      </assembly2>
     </extension>
     <extension
           point="org.eclipse.riena.ui.filter.uiFilters">
        <filter
              filterId="demo.assistent">
           <nodeId
                 id="/application">
           </nodeId>
           <ruleMarkerRidget
                 marker="hidden"
                 ridgetId="/application/*/salary*">
           </ruleMarkerRidget>
           <ruleMarkerNavigation
                 marker="hidden"
                 nodeId="/application/*/riena.demo.client.customer.contracts">
           </ruleMarkerNavigation>
        </filter>
     </extension>
     <extension
           point="org.eclipse.riena.ui.filter.uiFilters">
        <filter
              filterId="demo.mandatory">
           <nodeId
                 id="/application">
           </nodeId>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/street">
           </ruleMarkerRidget>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/zipCode">
           </ruleMarkerRidget>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/city">
           </ruleMarkerRidget>
           <ruleMarkerRidget
                 marker="mandatory"
                 ridgetId="/application/*/birthDate">
           </ruleMarkerRidget>
           <ruleValidatorRidget
                 ridgetId="/application/*/salary"
                 validationTime="onUpdateToModel"
                 validator="org.eclipse.riena.demo.client.validator.SalaryMoreThanNull">
           </ruleValidatorRidget>
        </filter>
     </extension>
     <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path
            path="icons">
      </path>
   </extension>
     <extension
           point="org.eclipse.core.variables.valueVariables">
        <variable
			description="Name of the host to connect to"
			name="riena.host"
			readOnly="true"
			initialValue="localhost:8080"/>
     </extension>

</plugin>
