<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>   
   <extension
         id="org.eclipse.riena.example.client.application"
         name="org.eclipse.riena.example.client.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.example.client.application.SwtExampleApplication">
         </run>
      </application>
   </extension>
   <extension
         id="example_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.riena.example.client.application"
            name="Riena Example">
         <property
               name="appName"
               value="Riena Example">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="subapplication.1"
            name="subapplication.1">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="subapplication.2"
            name="subapplication.2">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.CustomerDetailSubModuleView"
            id="org.eclipse.riena.example.client.views.CustomerDetailSubModuleView"
            name="org.eclipse.riena.example.client.views.CustomerDetailSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleView"
            id="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleView"
            name="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleView"
            id="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleViewNotShared"
            name="org.eclipse.riena.example.client.views.SharedViewDemoSubModuleViewNotShared">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.RidgetsSubModuleView"
            id="org.eclipse.riena.example.client.views.RidgetsSubModuleView"
            name="org.eclipse.riena.example.client.views.RidgetsSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.UIProcessDemoSubModuleView"
            id="org.eclipse.riena.example.client.views.UIProcessDemoSubModuleView"
            name="org.eclipse.riena.example.client.views.UIProcessDemoSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ChoiceSubModuleView"
            id="org.eclipse.riena.example.client.views.ChoiceSubModuleView"
            name="org.eclipse.riena.example.client.views.ChoiceSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ComboSubModuleView"
            id="org.eclipse.riena.example.client.views.ComboSubModuleView"
            name="org.eclipse.riena.example.client.views.ComboSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.DateTimeSubModuleView"
            id="org.eclipse.riena.example.client.views.DateTimeSubModuleView"
            name="org.eclipse.riena.example.client.views.DateTimeSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ListSubModuleView"
            id="org.eclipse.riena.example.client.views.ListSubModuleView"
            name="org.eclipse.riena.example.client.views.ListSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ListUsingTableSubModuleView"
            id="org.eclipse.riena.example.client.views.ListUsingTableSubModuleView"
            name="org.eclipse.riena.example.client.views.ListUsingTableSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TextSubModuleView"
            id="org.eclipse.riena.example.client.views.TextSubModuleView"
            name="org.eclipse.riena.example.client.views.TextSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TextNumericSubModuleView"
            id="org.eclipse.riena.example.client.views.TextNumericSubModuleView"
            name="org.eclipse.riena.example.client.views.TextNumericSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TextDateSubModuleView"
            id="org.eclipse.riena.example.client.views.TextDateSubModuleView"
            name="org.eclipse.riena.example.client.views.TextDateSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MarkerSubModuleView"
            id="org.eclipse.riena.example.client.views.MarkerSubModuleView"
            name="org.eclipse.riena.example.client.views.MarkerSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView"
            id="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView"
            name="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView2"
            id="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView2"
            name="org.eclipse.riena.example.client.views.MasterDetailsSubModuleView2">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MessageMarkerSubModuleView"
            id="org.eclipse.riena.example.client.views.MessageMarkerSubModuleView"
            name="org.eclipse.riena.example.client.views.MessageMarkerSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FocusableSubModuleView"
            id="org.eclipse.riena.example.client.views.FocusableSubModuleView"
            name="org.eclipse.riena.example.client.views.FocusableSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ValidationSubModuleView"
            id="org.eclipse.riena.example.client.views.ValidationSubModuleView"
            name="org.eclipse.riena.example.client.views.ValidationSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.SystemPropertiesSubModuleView"
            id="org.eclipse.riena.example.client.views.SystemPropertiesSubModuleView"
            name="org.eclipse.riena.example.client.views.SystemPropertiesSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TreeSubModuleView"
            id="org.eclipse.riena.example.client.views.TreeSubModuleView"
            name="org.eclipse.riena.example.client.views.TreeSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TreeTableSubModuleView"
            id="org.eclipse.riena.example.client.views.TreeTableSubModuleView"
            name="org.eclipse.riena.example.client.views.TreeTableSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TableSubModuleView"
            id="org.eclipse.riena.example.client.views.TableSubModuleView"
            name="org.eclipse.riena.example.client.views.TableSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.CompositeTableSubModuleView"
            id="org.eclipse.riena.example.client.views.CompositeTableSubModuleView"
            name="org.eclipse.riena.example.client.views.CompositeTableSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.NavigationSubModuleView"
            id="org.eclipse.riena.example.client.views.NavigationSubModuleView"
            name="org.eclipse.riena.example.client.views.NavigationSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.StatuslineSubModuleView"
            id="org.eclipse.riena.example.client.views.StatuslineSubModuleView"
            name="org.eclipse.riena.example.client.views.StatuslineSubModuleView">
      </view>
      <view allowMultiple="true"
            class="org.eclipse.riena.example.client.views.NavigateSubModuleView"
            id="org.eclipse.riena.example.client.views.NavigateSubModuleView"
            name="org.eclipse.riena.example.client.views.NavigateSubModuleView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.BlockingSubModuleView"
            id="org.eclipse.riena.example.client.views.BlockingSubModuleView"
            name="org.eclipse.riena.example.client.views.BlockingSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.NoControllerSubModuleView"
            id="org.eclipse.riena.example.client.views.NoControllerSubModuleView"
            name="org.eclipse.riena.example.client.views.NoControllerSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.LogCollectorSubModuleView"
            id="org.eclipse.riena.example.client.views.LogCollectorSubModuleView"
            name="org.eclipse.riena.example.client.views.LogCollectorSubModuleView"
            restorable="true"/>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FilterSubModuleView"
            id="org.eclipse.riena.example.client.views.FilterSubModuleView"
            name="org.eclipse.riena.example.client.views.FilterSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FilterNavigationSubModuleView"
            id="org.eclipse.riena.example.client.views.FilterNavigationSubModuleView"
            name="org.eclipse.riena.example.client.views.FilterNavigationSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FilterExternalDefinitionSubModuleView"
            id="org.eclipse.riena.example.client.views.FilterExternalDefinitionSubModuleView"
            name="org.eclipse.riena.example.client.views.FilterExternalDefinitionSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FilterActionSubModuleView"
            id="org.eclipse.riena.example.client.views.FilterActionSubModuleView"
            name="org.eclipse.riena.example.client.views.FilterActionSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.DialogSubModuleView"
            id="org.eclipse.riena.example.client.views.DialogSubModuleView"
            name="org.eclipse.riena.example.client.views.DialogSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MessageBoxSubModuleView"
            id="org.eclipse.riena.example.client.views.MessageBoxSubModuleView"
            name="org.eclipse.riena.example.client.views.MessageBoxSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.RemoteServiceProgressSubModuleView"
            id="org.eclipse.riena.example.client.views.RemoteServiceProgressSubModuleView"
            name="org.eclipse.riena.example.client.views.RemoteServiceProgressSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.FilterExampleSubModuleView"
            id="org.eclipse.riena.example.client.views.FilterExampleSubModuleView"
            name="org.eclipse.riena.example.client.views.FilterExampleSubModuleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ExceptionTestView"
            id="org.eclipse.riena.example.client.exceptiontest.view"
            name="org.eclipse.riena.example.client.views.ExceptionTestView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.OnePersonSubModuleView"
            id="org.eclipse.riena.example.client.views.OnePersonSubModuleView"
            name="org.eclipse.riena.example.client.views.OnePersonSubModuleView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.riena.example.client.exitCommand"
            name="Exit">
      </command>
      <command
            id="org.eclipse.riena.example.client.zoomInCommand"
            name="In">
      </command>
      <command
            id="org.eclipse.riena.example.client.certainViewCommand"
            name="Certain View (Combo)">
      </command>
      <command
            id="org.eclipse.riena.example.client.zoomOutCommand"
            name="Out">
      </command>
      <command
            id="org.eclipse.riena.example.client.certainPerspectiveCommand"
            name="Certain Perspective (Playground)">
      </command>
            <command
            id="org.eclipse.riena.example.client.histBackCommand"
            name="History Backward">
      </command>
      <command
            id="org.eclipse.riena.example.client.histForCommand"
            name="History Forward">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <menu
                  id="org.eclipse.riena.example.client.zoomMenu"
                  label="Zoom"
                  mnemonic="Z">
               <command
                     commandId="org.eclipse.riena.example.client.zoomInCommand"
                     id="org.eclipse.riena.example.client.zoomInMenuItem"
                     mnemonic="I"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.riena.example.client.zoomOutCommand"
                     id="org.eclipse.riena.example.client.zoomOutMenuItem"
                     mnemonic="O"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.riena.example.client.exitCommand"
                  id="org.eclipse.riena.example.client.exitMenuItem"
                  mnemonic="x">
            </command>
         </menu>
         <!--
         <menu
               label="Preferences"
               mnemonic="P">
            <menu
                  label="Look &apos;n&apos; Feel"
                  mnemonic="L">
               <command
                     commandId="org.eclipse.riena.example.client.rienaDefaultLnfCommand"
                     id="org.eclipse.riena.example.client.rienaDefaultLnfMenuItem"
                     mnemonic="D">
               </command>
               <command
                     commandId="org.eclipse.riena.example.client.exampleLnfCommand"
                     id="org.eclipse.riena.example.client.exampleLnfMenuItem"
                     mnemonic="x">
               </command>
            </menu>
         </menu>
         -->
         <menu
               id="contextMenu"
               label="Context menu"
               mnemonic="x">
            <command
                  commandId="org.eclipse.riena.example.client.certainViewCommand"
                  icon="icons/ledred.png"
                  id="org.eclipse.riena.example.client.certainViewMenuItem"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.certainPerspectiveCommand"
                  icon="icons/ledlightgreen.png"
                  id="org.eclipse.riena.example.client.certainPerspectiveMenuItem"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="navigationMenu"
               label="Navigation menu"
               mnemonic="N">
            <command
                  commandId="org.eclipse.riena.example.client.histBackCommand"
                  icon="icons/backward.gif"
                  id="org.eclipse.riena.example.client.histBackMenuItem"
                  mnemonic="B"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.histForCommand"
                  icon="icons/forward.gif"
                  id="org.eclipse.riena.example.client.histForMenuItem"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.riena.example.client.toolbar">
            <command
                  commandId="org.eclipse.riena.example.client.exitCommand"
                  id="org.eclipse.riena.example.client.exitToolBarItem"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.certainViewCommand"
                  icon="icons/ledred.png"
                  id="org.eclipse.riena.example.client.certainViewToolBarItem"
                  label="View"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.certainPerspectiveCommand"
                  icon="icons/ledlightgreen.png"
                  label="Perspective"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.histBackCommand"
                  icon="icons/backward.gif"
                  id="backToolItem"
                  label="History Back"
                  mnemonic="B"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.riena.example.client.histForCommand"
                  icon="icons/forward.gif"
                  id="forwardToolItem"
                  label="History Forward"
                  mnemonic="F"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.riena.example.client.handler.ExitHandler"
            commandId="org.eclipse.riena.example.client.exitCommand">
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.CertainViewHandler"
            commandId="org.eclipse.riena.example.client.certainViewCommand">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.riena.example.client.views.ComboSubModuleView">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.CertainPerspectiveHandler"
            commandId="org.eclipse.riena.example.client.certainPerspectiveCommand">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="subapplication.2">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.ZoomInHandler"
            commandId="org.eclipse.riena.example.client.zoomInCommand">
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.ZoomOutHandler"
            commandId="org.eclipse.riena.example.client.zoomOutCommand">
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.HistoryBackwardHandler"
            commandId="org.eclipse.riena.example.client.histBackCommand">
      </handler>
      <handler
            class="org.eclipse.riena.example.client.handler.HistoryForwardHandler"
            commandId="org.eclipse.riena.example.client.histForCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.lnfrenderer">
      <renderer
            class="org.eclipse.riena.example.client.application.ExampleModuleGroupRenderer"
            lnfid="ExampleLnf"
            lnfkey="ModuleGroup.renderer">
      </renderer>
   </extension>
   <extension
         point="org.eclipse.riena.navigation.assemblies">
      <assembly
            id="org.eclipse.riena.example.navigation.assembly"
            assembler="org.eclipse.riena.example.client.navigation.model.NavigationSubApplicationNodeAssembler"
            parentTypeId="application">
      </assembly>
      <assembly
            id="org.eclipse.riena.example.navigate.assembly"
            assembler="org.eclipse.riena.example.client.navigation.model.NavigateNodeAssembler"
            parentTypeId="org.eclipse.riena.example.navigation.subapplication">
      </assembly>
      <assembly
            id="org.eclipse.riena.example.sharedViews"
            assembler="org.eclipse.riena.example.client.navigation.model.SharedViewsNodeAssembler"
            parentTypeId="playground">
      </assembly>
      <assembly
            id="org.eclipse.riena.example.uiProcesses"
            name="uiProcesses_definition"
            parentTypeId="playground">
         <modulegroup
               name="uiProcesses_group"
               typeId="org.eclipse.riena.example.uiProcesses">
            <module
                  name="uiProcesses"
                  label="UIProcess"
                  icon="ledred.png">
               <submodule
                     controller="org.eclipse.riena.example.client.controllers.UIProcessDemoSubModuleController"
                     icon="ledlightgreen.png"
                     label="Demo1"
                     name="uiProcess_1"
                     typeId="org.eclipse.riena.example.uiProcess_1"
                     view="org.eclipse.riena.example.client.views.UIProcessDemoSubModuleView">
               </submodule>
               <submodule
                     typeId="org.eclipse.riena.example.uiProcess_2"
                     name="uiProcess_2"
                     label="Demo2"
                     view="org.eclipse.riena.example.client.views.UIProcessDemoSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.UIProcessDemoSubModuleController"/>
            </module>
            <module
                  name="remoteProgress"
                  label="service call progress"
                  icon="ledred.png">
               <submodule
                     typeId="org.eclipse.riena.example.remoteProgress"
                     name="org.eclipse.riena.example.remoteProgress"
                     label="service call progress"
                     icon="ledlightgreen.png"
                     view="org.eclipse.riena.example.client.views.RemoteServiceProgressSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.RemoteServiceProgressSubModuleController"/>
            </module>
            
         </modulegroup>
      </assembly>
      <assembly
            id="org.eclipse.riena.example.playground"
            assembler="org.eclipse.riena.example.client.navigation.model.PlaygroundNodeAssembler"
            parentTypeId="playground">
      </assembly>
      <assembly
            id="org.eclipse.riena.example.filters.assembly"
            name="filters_definition"
            parentTypeId="playground">
         <modulegroup
               typeId="org.eclipse.riena.example.filters"
               name="uiFilters_group">
            <module
                  name="filters"
                  label="UI-Filters">
               <submodule
                     controller="org.eclipse.riena.example.client.controllers.FilterExampleSubModuleController"
                     label="Example"
                     shared="false"
                     typeId="org.eclipse.riena.example.filterexample"
                     view="org.eclipse.riena.example.client.views.FilterExampleSubModuleView">
               </submodule>
               <submodule
                     typeId="org.eclipse.riena.example.filterridget"
                     name="filterridget"
                     label="Ridget"
                     view="org.eclipse.riena.example.client.views.FilterSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.FilterSubModuleController"/>
               <submodule
                     typeId="org.eclipse.riena.example.filternavigation"
                     name="filternavigation"
                     label="Navigation"
                     view="org.eclipse.riena.example.client.views.FilterNavigationSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.FilterNavigationSubModuleController"/>
               <submodule
                     controller="org.eclipse.riena.example.client.controllers.FilterActionSubModuleController"
                     label="Menu Item"
                     name="filteraction"
                     typeId="org.eclipse.riena.example.filteraction"
                     view="org.eclipse.riena.example.client.views.FilterActionSubModuleView">
               </submodule>
               <submodule
                     typeId="org.eclipse.riena.example.filterdefinition"
                     name="filterdefinition"
                     label="External Definition"
                     view="org.eclipse.riena.example.client.views.FilterExternalDefinitionSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.FilterExternalDefinitionSubModuleController"/>
            </module>
         </modulegroup>
      </assembly>
      <assembly
            id="org.eclipse.riena.example.logcollector.assembly"
            name="logcollector"
            parentTypeId="playground">
         <modulegroup
               typeId="org.eclipse.riena.example.logcollector"
               name="logcollector_group">
            <module
                  label="LogCollector"
                  name="logcollector"
                  typeId="logcollectorModule">
               <submodule
                     typeId="org.eclipse.riena.example.logcollectorlog"
                     name="logcollectorlog"
                     label="Log Collector"
                     view="org.eclipse.riena.example.client.views.LogCollectorSubModuleView"
                     controller="org.eclipse.riena.example.client.controllers.LogCollectorSubModuleController"/>
            </module>
         </modulegroup>
      </assembly>
      <assembly
            id="org.eclipse.riena.example.navigate.comboAndList"
            assembler="org.eclipse.riena.example.client.navigation.model.ComboAndListNodeAssembler"
            parentTypeId="org.eclipse.riena.example.navigation.subapplication">
      </assembly>
      <assembly
            id="org.eclipse.riena.example.navigate.tableTextAndTree.assembly"
            assembler="org.eclipse.riena.example.client.navigation.model.TableTextAndTreeNodeAssembler"
            parentTypeId="playground">
      </assembly>
   </extension>
   <extension
         point="org.eclipse.riena.filter.uifilter">
      <filter
            filterId="rienaExample.offline">
         <nodeId
               id="application">
         </nodeId>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="*/org.eclipse.riena.example.uiProcesses">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="*/org.eclipse.riena.example.navigation*">
         </ruleMarkerNavigation>
         <ruleMarkerRidget
               marker="hidden"
               ridgetId="*/textPassword">
         </ruleMarkerRidget>
         <ruleMarkerRidget
               marker="hidden"
               ridgetId="*/ui_label2">
         </ruleMarkerRidget>
         <ruleMarkerRidget
               marker="output"
               ridgetId="*/textField">
         </ruleMarkerRidget>
         <ruleValidatorRidget
               ridgetId="*/ui_text1"
               validationTime="onUIControlEdit"
               validator="org.eclipse.riena.ui.ridgets.validation.MaxLength:12">
         </ruleValidatorRidget>
         <ruleMarkerMenuItem
               itemId="org.eclipse.riena.example.client.exitToolBarItem"
               marker="disabled">
         </ruleMarkerMenuItem>
      </filter>
      <filter
            filterId="rienaExample.menuToolBar">
         <nodeId
               id="/application">
         </nodeId>
         <ruleMarkerMenuItem
               itemId="org.eclipse.riena.example.client.zoom*MenuItem"
               marker="disabled">
         </ruleMarkerMenuItem>
         <ruleMarkerMenuItem
               itemId="org.eclipse.riena.example.client.exitMenuItem"
               marker="disabled">
         </ruleMarkerMenuItem>
         <ruleMarkerMenuItem
               itemId="org.eclipse.riena.example.client.exitToolBarItem"
               marker="disabled">
         </ruleMarkerMenuItem>
         <ruleMarkerMenuItem
               itemId="navigationMenu"
               marker="hidden">
         </ruleMarkerMenuItem>
      </filter>
      <filter
            filterId="rienaExample.ridget">
         <nodeId
               id="/application">
         </nodeId>
         <ruleMarkerRidget
               marker="hidden"
               ridgetId="/application/*/org.eclipse.riena.example.text/textModel?">
         </ruleMarkerRidget>
         <ruleValidatorRidget
               ridgetId="/application/*/org.eclipse.riena.example.text/*"
               validationTime="onUIControlEdit"
               validator="org.eclipse.riena.ui.ridgets.validation.MaxLength:12">
         </ruleValidatorRidget>
      </filter>
      <filter
            filterId="rienaExample.navigation">
         <nodeId
               id="/application">
         </nodeId>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="/application/*/org.eclipse.riena.example.sharedViews">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="/application/*/org.eclipse.riena.example.uiProcesses">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="disabled"
               nodeId="/application/*/logcollectorModule">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="disabled"
               nodeId="/application/*/org.eclipse.riena.example.tree">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="disabled"
               nodeId="/application/*/org.eclipse.riena.example.treeTable">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="/application/*/org.eclipse.riena.example.table">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="disabled"
               nodeId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filterridget">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="disabled"
               nodeId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filternavigation">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filteraction">
         </ruleMarkerNavigation>
         <ruleMarkerNavigation
               marker="hidden"
               nodeId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filterdefinition">
         </ruleMarkerNavigation>
      </filter>
      <filter
            filterId="rienaExample.ridget01">
         <nodeId
               id="/application">
         </nodeId>
         <ruleValidatorRidget
               ridgetId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filterexample/sampleText"
               validationTime="onUpdateToModel"
               validator="org.eclipse.riena.ui.ridgets.validation.ValidCharacters:01">
         </ruleValidatorRidget>
      </filter>
      <filter
            filterId="rienaExample.ridgetDisable">
         <nodeId
               id="/application">
         </nodeId>
         <ruleMarkerRidget
               marker="disabled"
               ridgetId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filterexample/sample*">
         </ruleMarkerRidget>
      </filter>
      <filter
            filterId="rienaExample.ridgetHide">
         <nodeId
               id="/application">
         </nodeId>
         <ruleMarkerRidget
               marker="hidden"
               ridgetId="/application/*/org.eclipse.riena.example.filters/*/org.eclipse.riena.example.filterexample/sample*">
         </ruleMarkerRidget>
      </filter>
   </extension>
   
   <!-- To activate client monitoring for the example client simply uncomment this. -->
   <extension point="org.eclipse.riena.monitor.collectors">
      <collector
            category="LogCollector"
            class="org.eclipse.riena.monitor.client.LogServiceCollector: collectRange=1,2; triggerRange=1,2"
            maxItems="50">
      </collector>
      <collector
            category="CustomCollector"
            class="org.eclipse.riena.monitor.client.LogServiceCollector: collectRange=-2..0; triggerRange=-2"
            maxItems="250">
      </collector>
   </extension>
   
   <extension point="org.eclipse.riena.monitor.store">
      <store
            name="SimpleStore"
            class="org.eclipse.riena.monitor.client.SimpleStore:cleanupDelay=1 h">
      </store>
	</extension>
	
   <extension point="org.eclipse.riena.monitor.sender">
      <sender
            name="SimpleSender"
            class="org.eclipse.riena.monitor.client.SimpleSender:retryTime=20 m">
      </sender>
	</extension>
	
    <!-- -->
    <extension
           point="org.eclipse.riena.core.exception.handlers">
        <exceptionHandler
              class="org.eclipse.riena.example.client.exceptionhandler.ExceptionMessageBox"
              name="riena example exception message box">
        </exceptionHandler>
     </extension>
    <extension
          point="org.eclipse.riena.navigation.assemblies">
       <assembly
             autostartsequence="1"
             id="org.eclipse.riena.example.exceptiontest"
             parentTypeId="playground">
          <modulegroup
                name="ExceptionTest"
                typeId="org.eclipse.riena.example.exceptiontest.mg">
             <module
                   label="Exception Test"
                   typeId="org.eclipse.riena.example.exceptiontest.module"
                   unclosable="false">
                <submodule
                      controller="org.eclipse.riena.example.client.controllers.ExceptionTestController"
                      shared="false"
                      typeId="org.eclipse.riena.example.exceptiontest.submodule"
                      view="org.eclipse.riena.example.client.exceptiontest.view">
                </submodule>
             </module>
          </modulegroup>
       </assembly>
    </extension>
    
    <extension
          point="org.eclipse.riena.navigation.assemblies">
      <assembly
             autostartsequence="2"
            id="org.eclipse.riena.example.onecustomer"
            parentTypeId="module121">
         <submodule
               controller="org.eclipse.riena.example.client.controllers.OnePersonSubModuleController"
               icon="person.gif"
               label="One Person"
               shared="false"
               typeId="onePersonSubModule"
               view="org.eclipse.riena.example.client.views.OnePersonSubModuleView">
         </submodule>
      </assembly>
    </extension>
    
    <extension
          point="org.eclipse.riena.navigation.ui.loginDialogViewDefinition">
       <!--loginDialogViewDefinition
             nonActivityDuration="3000"
             viewClass="org.eclipse.riena.example.client.views.LoginDialogView">
       </loginDialogViewDefinition-->
    </extension>
    <extension
          id="LocalCallback"
          point="org.eclipse.equinox.security.callbackHandler">
       <callbackHandler
             class="org.eclipse.riena.internal.example.client.security.authentication.LocalLoginCallbackHandler">
       </callbackHandler>
    </extension>
    <extension
          id="remoteSecurity"
          point="org.eclipse.equinox.security.loginModule">
       <loginModule
             class="org.eclipse.riena.internal.example.client.security.authentication.RemoteLoginModule">
       </loginModule>
    </extension>
    <extension
          id="Remote"
          point="org.eclipse.equinox.security.callbackHandlerMapping">
       <callbackHandlerMapping
             callbackHandlerId="org.eclipse.riena.example.client.LocalCallback"
             configName="Remote">
       </callbackHandlerMapping>
    </extension>
    <extension
          point="org.eclipse.ui.splashHandlers">
       <splashHandler
             class="org.eclipse.riena.example.client.splashHandlers.LoginSplashHandler"
             id="org.eclipse.riena.example.client.splashHandlers.interactive">
       </splashHandler>
       <splashHandlerProductBinding
             productId="org.eclipse.riena.example.client.example_product"
             splashId="org.eclipse.riena.example.client.splashHandlers.interactive">
       </splashHandlerProductBinding>
    </extension>
    <extension
          point="org.eclipse.riena.navigation.ui.swt.loginSplashViewDefinition">
       <loginSplashViewDefinition
             nonActivityDuration="0"
             viewClass="org.eclipse.riena.example.client.views.LoginSplashView">
       </loginSplashViewDefinition>
    </extension>
    <extension
          point="org.eclipse.riena.ui.swt.imagepath">
       <path
             path="icons">
       </path>
    </extension>
   
</plugin>
