<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.riena.example.client.application"
         name="org.eclipse.riena.example.client.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.example.client.application.SwtExampleApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="subapplication.1"
            name="subapplication.1">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="subapplication.2"
            name="subapplication.2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.CustomerDetailView"
            id="customerDetailView"
            name="customerDetailView">
      </view>
      
            <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.SharedViewDemoView"
            id="sharedviewdemoid"
            name="sharedviewdemoid">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.RidgetsSubModuleView"
            id="RidgetsSubModuleView"
            name="RidgetsSubModuleView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.UiProcessDemoView"
            id="org.eclipse.riena.sample.app.client.uiprocessdemoview"
            name="org.eclipse.riena.sample.app.client.uiprocessdemoview">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ComboView"
            id="org.eclipse.riena.example.client.views.ComboView"
            name="org.eclipse.riena.example.client.views.ComboView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.ListView"
            id="org.eclipse.riena.example.client.views.ListView"
            name="org.eclipse.riena.example.client.views.ListView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.TextView"
            id="org.eclipse.riena.example.client.views.TextView"
            name="org.eclipse.riena.example.client.views.TextView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.example.client.views.MarkerView"
            id="org.eclipse.riena.example.client.views.MarkerView"
            name="org.eclipse.riena.example.client.views.MarkerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.riena.example.client.actionSet"
            label="Sample Action Set"
            visible="false">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.riena.example.client.actions.SampleAction"
               enablesFor="*"
               icon="icons/0457_a_a00.png"
               id="org.eclipse.riena.example.client.actions.SampleAction"
               label="&amp;Action"
               menubarPath="sampleMenu/sampleGroup"
               state="false"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
      <actionSet
            id="closeActionSet"
            label="Close"
            visible="true">
         <action
               id="closeAction"
               label="close">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="subapplication.1">
         <actionSet
               id="org.eclipse.riena.example.client.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
