<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/SWT ExampleApplication.product"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-SWTExampleApplication.product"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.registry.nulltoken=true -Driena.defaultlogging=false -Driena.application.height=800"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.riena.example.client.example_product"/>
<stringAttribute key="productFile" value="\org.eclipse.riena.example.client\SWT ExampleApplication.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.jface.databinding,org.eclipse.equinox.app,org.eclipse.equinox.registry,org.apache.commons.logging,org.eclipse.osgi.services,org.eclipse.equinox.common,org.eclipse.ui.workbench,org.eclipse.equinox.transforms.hook,org.eclipse.core.jobs,org.eclipse.swt,org.eclipse.core.databinding.beans,org.eclipse.core.expressions,org.eclipse.osgi,org.eclipse.core.databinding,org.eclipse.core.runtime,org.eclipse.jface,org.eclipse.core.contenttype,org.eclipse.ui,org.eclipse.equinox.preferences,org.eclipse.core.commands,org.eclipse.swt.win32.win32.x86,com.ibm.icu,org.eclipse.help"/>
<stringAttribute key="selected_workspace_plugins" value="org.eclipse.riena.beans.common,org.eclipse.riena.communication.factory.hessian,com.caucho.hessian,org.eclipse.equinox.security.win32.x86,org.eclipse.riena.ui.workarea,org.eclipse.riena.core,org.eclipse.riena.security.common,org.eclipse.riena.navigation.ui.swt,org.eclipse.riena.communication.core,org.eclipse.core.variables,org.eclipse.riena.ui.ridgets.swt,org.eclipse.riena.ui.core,org.eclipse.riena.navigation.ui,org.apache.commons.beanutils,org.eclipse.riena.example.client,org.eclipse.riena.client,javax.servlet,org.eclipse.riena.monitor.common,org.eclipse.equinox.log,org.eclipse.riena.navigation,org.eclipse.riena.ui.filter,org.eclipse.riena.ui.ridgets,org.eclipse.riena.communication.console,org.eclipse.equinox.security,org.eclipse.riena.ui.swt,org.eclipse.riena.ui.common"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
