<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="loginDialogViewDefinition" name="LoginDialogView Definition" schema="schema/loginDialogViewDefinition.exsd"/>
   <extension-point id="applicationModelCreators" name="Application Model Creators" schema="schema/applicationModelCreators.exsd"/>
   <extension
         point="org.eclipse.riena.ui.filter.ruleMapper">
      <mapper>
         <navigationHiddenMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleNavigationHiddenMarker">
         </navigationHiddenMarker>
         <navigationDisabledMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleNavigationDisabledMarker">
         </navigationDisabledMarker>
         <ridgetHiddenMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleRidgetHiddenMarker">
         </ridgetHiddenMarker>
         <ridgetDisabledMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleRidgetDisabledMarker">
         </ridgetDisabledMarker>
         <ridgetOutputMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleRidgetOutputMarker">
         </ridgetOutputMarker>
         <ridgetMandatoryMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleRidgetMandatoryMarker">
         </ridgetMandatoryMarker>
         <menuItemDisabledMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleMenuItemDisabledMarker">
         </menuItemDisabledMarker>
         <menuItemHiddenMarker
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleMenuItemHiddenMarker">
         </menuItemHiddenMarker>
         <ridgetValidator
               ruleClass="org.eclipse.riena.internal.navigation.ui.filter.UIFilterRuleRidgetValidator">
         </ridgetValidator>
      </mapper>
   </extension>

</plugin>
