<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="HelloWorldApplication"
         name="HelloWorldApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.sample.app.client.helloworld.applications.HelloWorldApplication">
         </run></application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="helloWorldSubApplication"
            name="helloWorldSubApplication">
      </perspective>
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="org.eclipse.riena.sample.app.client.second"
            name="name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.riena.sample.app.client.helloworld.views.HelloWorldSubModuleView"
            id="org.eclipse.riena.sample.app.client.helloworld.views.HelloWorldSubModuleView"
            name="HelloWorldSubModuleView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.sample.app.client.helloworld.views.HelloServerSubModuleView"
            id="org.eclipse.riena.sample.app.client.helloworld.views.HelloServerSubModuleView"
            name="HelloServer">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.sample.app.client.helloworld.views.CustomerSearchSubModuleView"
            id="org.eclipse.riena.sample.app.client.helloworld.views.CustomerSearchSubModuleView"
            name="CustomerSearch">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.riena.sample.app.client.helloworld.views.CustomerDetailsSubModuleView"
            id="org.eclipse.riena.sample.app.client.helloworld.views.CustomerDetailsSubModuleView"
            name="CustomerDetails">
      </view>

   </extension>

</plugin>
