<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.riena.sample.app.client.HelloWorldApplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Riena HelloWorld"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-org.eclipse.riena.sample.app.client.HelloWorldApplication"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.riena.sample.app.client.mail.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.core.commands,org.eclipse.core.databinding.beans,org.eclipse.equinox.common,org.eclipse.osgi.services,org.eclipse.jface,org.eclipse.swt.win32.win32.x86,org.eclipse.help,org.eclipse.ui.workbench,org.eclipse.equinox.preferences,org.eclipse.equinox.registry,org.eclipse.swt,org.eclipse.core.expressions,org.eclipse.core.databinding,org.eclipse.equinox.app,org.eclipse.core.contenttype,org.eclipse.ui,org.eclipse.core.runtime,org.eclipse.jface.databinding,org.eclipse.core.runtime.compatibility.auth,org.eclipse.core.jobs,javax.servlet,com.ibm.icu"/>
<stringAttribute key="selected_workspace_plugins" value="org.eclipse.riena.communication.core,org.eclipse.riena.ui.core,org.eclipse.equinox.log,org.eclipse.riena.navigation,org.eclipse.osgi,org.apache.log4j,org.eclipse.riena.sample.app.common,org.eclipse.riena.core,org.eclipse.riena.navigation.ui.swt,org.eclipse.equinox.cm,org.eclipse.riena.security.common,org.eclipse.riena.sample.app.client,org.eclipse.riena.navigation.ui,org.eclipse.riena.ui.ridgets,org.eclipse.riena.ui.swt,org.eclipse.riena.ui.ridgets.swt,org.eclipse.riena.communication.factory.hessian,org.eclipse.core.variables,com.caucho.hessian"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
