<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="uiSynchronizer" name="UI-Synchronizer" schema="schema/uiSynchronizer.exsd"/>
   <extension-point id="iconManager" name="Icon Manager" schema="schema/iconManager.exsd"/>
   <extension
         point="org.eclipse.riena.ui.core.iconManager">
      <iconManager
            iconManager="org.eclipse.riena.ui.core.resource.IconManager"
            order="1">
      </iconManager>
   </extension>
</plugin>
