<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views">
    <view allowMultiple="true"
            class="org.eclipse.riena.example.client.optional.views.CompositeTableSubModuleView"
            id="org.eclipse.riena.example.client.optional.views.CompositeTableSubModuleView"
            name="org.eclipse.riena.example.client.optional.views.CompositeTableSubModuleView"/>
    <view allowMultiple="true"
            class="org.eclipse.riena.example.client.optional.views.OptionalMarkerSubModuleView"
            id="org.eclipse.riena.example.client.optional.views.OptionalMarkerSubModuleView"
            name="org.eclipse.riena.example.client.optional.views.OptionalMarkerSubModuleView"/>
    <view allowMultiple="true"
            class="org.eclipse.riena.example.client.optional.views.GridSubModuleView"
            id="org.eclipse.riena.example.client.optional.views.GridSubModuleView"
            name="org.eclipse.riena.example.client.optional.views.GridSubModuleView"/>
  </extension>
  <extension
          point="org.eclipse.riena.navigation.assemblies2">
       <assembly2
             startOrder="1"
             id="org.eclipse.riena.example.client.optional"
             parentNodeId="playground">
          <moduleGroup
                name="Optional"
                nodeId="org.eclipse.riena.example.client.optional.group">
             <module
                   name="Optional"
                   nodeId="org.eclipse.riena.example.client.optional.module"
                   closable="true">
                <subModule
                      closable="true"
                      controller="org.eclipse.riena.example.client.optional.controllers.CompositeTableSubModuleController"
                      name="Composite Table"
                      nodeId="org.eclipse.riena.example.client.optional.compositetable"
                      sharedView="false"
                      viewId="org.eclipse.riena.example.client.optional.views.CompositeTableSubModuleView">
                </subModule>
                <subModule
                      closable="true"
                      controller="org.eclipse.riena.example.client.optional.controllers.GridSubModuleController"
                      name="Grid"
                      nodeId="org.eclipse.riena.example.client.optional.grid"
                      sharedView="false"
                      viewId="org.eclipse.riena.example.client.optional.views.GridSubModuleView">
                </subModule>
                <subModule
                      closable="false"
                      controller="org.eclipse.riena.example.client.optional.controllers.OptionalMarkerSubModuleController"
                      expanded="false"
                      name="Markers"
                      nodeId="org.eclipse.riena.example.client.optional.marker"
                      selectable="true"
                      sharedView="false"
                      viewId="org.eclipse.riena.example.client.optional.views.OptionalMarkerSubModuleView"
                      visible="true">
                </subModule>
             </module>
          </moduleGroup>
       </assembly2>
  </extension>
</plugin>
