<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point
		id="serializerFactories"
		name="Hessian Serializer Factories"
		schema="schema/serializerFactories.exsd" />
 <extension-point id="configuration" name="Configuration for the remote service factory for hessian" schema="schema/configuration.exsd"/>
		
	<extension
		id="org.eclipse.riena.communication.hessian.PrincipalSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaPrincipalSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.PrincipalSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.InputSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaInputStreamSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.InputStreamSerializerFactory">
		</factory>
	</extension>

	<extension
		id="org.eclipse.riena.communication.hessian.StacktraceElementSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaStacktraceElementSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.StacktraceElementSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.GregorianCalendarSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaGregorianCalendarSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.GregorianCalendarSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.PermissionsSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaPermissionsSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.PermissionsSerializerFactory">
		</factory>
	</extension>

	<extension
		id="org.eclipse.riena.communication.hessian.JavaPermissionSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaJavaPermissionSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.JavaPermissionSerializerFactory">
		</factory>
	</extension>

	<extension
       id="org.eclipse.riena.communication.hessian.BigIntegerSerializerFactory"
       point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaBigIntegerSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.BigIntegerSerializerFactory">
		</factory>
	</extension>
	
    <extension
         id="org.eclipse.riena.internal.communication.factory.hessian.UUIDSerializerFactory"
         point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
      <factory
			name="RienaUUIDSerializerFactory"
            class="org.eclipse.riena.internal.communication.factory.hessian.serializer.UUIDSerializerFactory">
      </factory>
    </extension>

	<extension
       id="org.eclipse.riena.communication.hessian.ELIndirectListSerializerFactory"
       point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			name="RienaEclipsePersistenceIndirectListSerializerFactory"
			class="org.eclipse.riena.internal.communication.factory.hessian.serializer.EclipsePersistenceIndirectListSerializerFactory">
		</factory>
	</extension>

	<extension
		point="org.eclipse.riena.communication.core.remoteServiceFactories">
		<factory
			protocol="hessian"
			remoteServiceFactory="org.eclipse.riena.internal.communication.factory.hessian.RemoteServiceFactoryHessian">
		</factory>
	</extension>
 <extension
       point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
    <factory
          class="org.eclipse.riena.internal.communication.factory.hessian.serializer.XMLGregorianCalendarSerializerFactory"
          name="RienaXMLGregorianCalendarSerializer">
    </factory>
 </extension>

</plugin>
