<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point
		id="serializerFactories"
		name="Hessian Serializer Factories"
		schema="schema/serializerFactories.exsd" />
 <extension-point id="configuration" name="Configuration for the remote service factory for hessian" schema="schema/configuration.exsd"/>
		
	<extension
		id="org.eclipse.riena.communication.hessian.PrincipalSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.PrincipalSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.InputSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.InputStreamSerializerFactory">
		</factory>
	</extension>

	<extension
		id="org.eclipse.riena.communication.hessian.StacktraceElementSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.StacktraceElementSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.GregorianCalendarSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.GregorianCalendarSerializerFactory">
		</factory>
	</extension>
	
	<extension
		id="org.eclipse.riena.communication.hessian.PermissionsSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.PermissionsSerializerFactory">
		</factory>
	</extension>

	<extension
		id="org.eclipse.riena.communication.hessian.JavaPermissionSerializerFactory"
		point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.JavaPermissionSerializerFactory">
		</factory>
	</extension>

	<extension
       id="org.eclipse.riena.communication.hessian.BigIntegerSerializerFactory"
       point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.BigIntegerSerializerFactory">
		</factory>
	</extension>
	
    <extension
         id="org.eclipse.riena.internal.communication.factory.hessian.UUIDSerializerFactory"
         point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
      <factory
            implementation="org.eclipse.riena.internal.communication.factory.hessian.UUIDSerializerFactory">
      </factory>
    </extension>

	<extension
       id="org.eclipse.riena.communication.hessian.ELIndirectListSerializerFactory"
       point="org.eclipse.riena.communication.factory.hessian.serializerFactories">
		<factory
			implementation="org.eclipse.riena.internal.communication.factory.hessian.EclipsePersistenceIndirectListSerializerFactory">
		</factory>
	</extension>

	<extension
		point="org.eclipse.riena.communication.core.remoteServiceFactories">
		<factory
			protocol="hessian"
			remoteServiceFactory="org.eclipse.riena.internal.communication.factory.hessian.RemoteServiceFactoryHessian">
		</factory>
	</extension>

</plugin>
