<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.sample.app.client.mail.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Mail Perspective"
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="rcp.mail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.riena.sample.app.client.mail.View"
            id="rcp.mail.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="rcp.mail.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="rcp.mail.category"
            id="rcp.mail.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="rcp.mail.category"
            id="rcp.mail.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rcp.mail.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="rcp.mail.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.riena.sample.app.client.mail.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE and customized by the Riena Team">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.riena.sample.app.client.mail.toolbar">
            <command
                  commandId="rcp.mail.open"
                  icon="icons/sample2.gif"
                  style="push">
            </command>
            <command
                  commandId="rcp.mail.openMessage"
                  icon="icons/sample3.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="&amp;File">
            <command
                  commandId="rcp.mail.openMessage"
                  label="Open Message"
                  style="push">
            </command>
            <command
                  commandId="rcp.mail.open"
                  label="Open Another Message View"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.riena.sample.app.client.mail.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="&amp;Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="&amp;About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.riena.sample.app.client.mail.OpenViewHandler"
            commandId="rcp.mail.open">
      </handler>
      <handler
            class="org.eclipse.riena.sample.app.client.mail.MessagePopupHandler"
            commandId="rcp.mail.openMessage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path
            path="icons">
      </path>
   </extension>
</plugin>
