<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Name of the host to connect to"
			name="riena.hostname"
			readOnly="true"
			initialValue="localhost:8080"/>
	</extension>

</plugin>
