<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.riena.config.managedService">
      <config
            servicepid="org.eclipse.riena.config.symbols">
         <property
               name="hostname"
               value="127.0.0.1:8080">
         </property>
      </config>
   </extension>

</plugin>
