<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Name of the secure host to connect to"
			name="riena.securehostname"
			readOnly="true"
			initialValue="localhost:8080"/>
	</extension>

	<extension
        point="org.eclipse.riena.core.startups">
      <startup 
      	activateSelf="true">
      </startup>
   </extension>

</plugin>
