<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.riena.ui.swt.lnfrenderer" name="org.eclipse.riena.ui.swt.lnfrenderer" schema="schema/org.eclipse.riena.ui.swt.lnfrenderer.exsd"/>
   <extension-point id="org.eclipse.riena.ui.swt.imagepath" name="org.eclipse.riena.ui.swt.imagepath" schema="schema/org.eclipse.riena.ui.swt.imagepath.exsd"/>
   <extension
         point="org.riena.ui.core.uiprocess">
		<uisynchronizer class="org.eclipse.riena.ui.swt.uiprocess.SwtUISynchronizer"/>         
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.lnfrenderer">
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.DialogBorderRenderer"
            lnfkey="Dialog.borderRenderer">
      </renderer>
      <renderer
            class="org.eclipse.riena.ui.swt.lnf.renderer.DialogTitleBarRenderer"
            lnfkey="Dialog.renderer">
      </renderer>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.imagepath">
      <path
            path="icons">
      </path>
   </extension>>
</plugin>
