<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.riena.communication.publisher.serviceHooks">
      <serviceHook
            class="org.eclipse.riena.internal.security.server.SecurityServiceHook"
            name="SecurityServiceHook">
      </serviceHook>
   </extension>

</plugin>
