<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="SampleLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.riena.security.simpleservices.authentication.loginmodule.SampleLoginModule"
            description="Sample Login Module">
      </loginModule>
   </extension>

</plugin>
