/** Java 2 Access Control Policy for the JAAS Sample Application **/

/* grant the sample LoginModule permissions */
grant {
permission java.security.AllPermission;
};
/*grant {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
    permission java.io.FilePermission "C:\\projekte\\riena2\\.metadata\\-", "read,write,delete";
    permission java.io.FilePermission "C:\\projekte\\riena2\\.metadata", "read,write";
    permission java.io.FilePermission "C:\\develop\\RCPLabs-Runtime\\Eclipse-3.3","read,write,delete";
    permission java.io.FilePermission "C:\\develop\\RCPLabs-Runtime\\Eclipse-3.3\\-","read,write,delete";
    permission java.io.FilePermission "C:\\develop\\eclipse-3.3\\workspace\\.metadata", "read,write";
    permission java.io.FilePermission "C:\\develop\\eclipse-3.3\\workspace\\.metadata\\-", "read,write";
    permission org.osgi.framework.AdminPermission;
    permission java.lang.RuntimePermission "*";
    permission org.osgi.framework.ServicePermission "*","register,get";
    permission java.net.SocketPermission "*", "accept,listen,connect,resolve";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.net.NetPermission "specifyStreamHandler";
    permission java.security.SecurityPermission "getPolicy";
    permission org.eclipse.riena.securityimplementation.server.internal.TestPermission "salary","*";
    permission org.osgi.framework.PackagePermission "*","export,import";
    permission org.osgi.framework.BundlePermission "*","provide,require";
    permission java.security.SecurityPermission "setPolicy";
};*/

/*    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "shutdownHooks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    */

/*grant {

   permission javax.security.auth.AuthPermission "createLoginContext.Test";
   permission javax.security.auth.AuthPermission "createLoginContext.Remote";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
   permission java.util.PropertyPermission "*", "read,write";
};*/
