/** Login Configuration for the JAAS Sample Application **/

LocalTest {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required debug="true" 
    extensionId="org.eclipse.riena.tests.testLocalSecurity"
    accounts.file="config/accounts.properties";
};


RemoteTest {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required debug="true" 
    extensionId="org.eclipse.riena.tests.testRemoteSecurity";
};