<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Riena Sample PingPong Client"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="org.eclipse.riena.communication.sample.pingpong.server,org.eclipse.riena.security.common,org.eclipse.riena.communication.console,org.eclipse.riena.security.common.bootpolicy,org.eclipse.riena.security.server,org.eclipse.riena.security.sessionservice,org.eclipse.riena.communication.publisher,org.eclipse.riena.security.authenticationservice,org.eclipse.riena.communication.publisher.hessian,org.eclipse.riena.exceptionhandler,org.eclipse.riena.security.services.config,org.eclipse.riena.communication.discovery,org.eclipse.riena.exceptionmanager,org.eclipse.riena.security.authorizationservice"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console -clean"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="target_bundles" value="javax.servlet@default:default,org.eclipse.core.contenttype@default:default,org.eclipse.core.jobs@default:default,org.eclipse.core.runtime@default:default,org.eclipse.core.runtime.compatibility.auth@default:default,org.eclipse.equinox.app@default:default,org.eclipse.equinox.common@default:default,org.eclipse.equinox.http.registry@default:default,org.eclipse.equinox.preferences@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.osgi@:,org.eclipse.osgi.services@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="com.caucho.hessian@default:default,org.apache.log4j@default:default,org.eclipse.equinox.cm@default:default,org.eclipse.equinox.log@default:default,org.eclipse.riena.communication.core@default:default,org.eclipse.riena.communication.factory.hessian@default:default,org.eclipse.riena.communication.registry@default:default,org.eclipse.riena.communication.sample.pingpong.client@6:default,org.eclipse.riena.communication.sample.pingpong.client.config@5:default,org.eclipse.riena.communication.sample.pingpong.common@default:default,org.eclipse.riena.core@default:default"/>
</launchConfiguration>
