<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Test"
			name="company"
			readOnly="true"
			initialValue="compeople ag"/>
	</extension>

   
   <extension
         point="org.eclipse.riena.config.managedService">
      <config
            servicepid="org.eclipse.riena.business.pid">
         <property
               name="name"
               value="christian campo ${company}">
         </property>
      </config>
   </extension>

</plugin>
