<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="testRemoteSecurity"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.riena.security.services.itest.authentication.module.TestRemoteLoginModule">
      </loginModule>
   </extension>
   <extension
         id="testLocalSecurity"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.riena.security.authentication.module.TestLocalLoginModule">
      </loginModule>
   </extension>
   <extension
         id="localCallback"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.eclipse.riena.security.authentication.callbackhandler.TestLocalCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         id="localCallbackHandlerMapping"
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.eclipse.riena.tests.localCallback"
            configName="LocalTest">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.eclipse.riena.tests.localCallback"
            configName="RemoteTest">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path
            path="icons">
      </path>
   </extension>
</plugin>
