<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="logListeners" name=" Log listeneres" schema="schema/logListeners.exsd"/>
   <extension-point id="logCatchers" name="Log catchers" schema="schema/logCatchers.exsd"/>
   <extension-point id="startups" name="Startup tasks" schema="schema/startups.exsd"/>
   <extension-point id="log4jConfiguration" name="Log4j Configuration" schema="schema/log4jConfiguration.exsd"/>
   <extension-point id="log4jDiagnosticContext" name="Log4j Diagnostic Context" schema="schema/log4jDiagnosticContext.exsd"/>
   <extension-point id="exceptionHandlers" name="Exception handlers" schema="schema/exceptionHandlers.exsd"/>
   <extension-point id="annotatedMethodHandlers" name="Annotated method handlers" schema="schema/annotatedMethodHandlers.exsd"/>
   <extension-point id="configuration" name="Common Riena properties configuration" schema="schema/configuration.exsd"/>

	<extension
        point="org.eclipse.riena.core.startups">
      <startup
            requiredBundles="org.eclipse.equinox.log"
            when="beginning">
      </startup>
   </extension>

   <extension
         point="org.eclipse.riena.core.logListeners">
         <!-- This is examplary!
         <logListener name="Log4j" listener-class="org.eclipse.riena.core.logging.log4j.Log4jLogListener" sync="true" filter-class="org.eclipse.riena.core.logging.log4j.Log4jLogFilter"/>
         <logListener name="Syso" listener-class="org.eclipse.riena.core.logging.SysoLogListener" sync="true"/>
         -->
   </extension>
   <extension point="org.eclipse.riena.core.log4jDiagnosticContext">
         <!-- This is examplary!
		 <diagnosticContext class="org.eclipse.riena.core.logging.log4j.Log4jMDCDiagnosticContext:key=${riena.user.name}@${riena.host.name}" />
         -->
   </extension>
   
   <extension
         point="org.eclipse.riena.core.logCatchers">
         <!-- This is examplary!
         <logCatcher name="Platform" class="org.eclipse.riena.core.logging.PlatformLogCatcher"/>
         <logCatcher name="Java" class="org.eclipse.riena.core.logging.JavaLogCatcher"/>
         -->
   </extension>
   <extension
         point="org.eclipse.riena.core.exceptionHandlers">
      <exceptionHandler
            class="org.eclipse.riena.internal.core.exceptionhandler.SimpleExceptionHandler"
            name="Simple riena core handler"
            preHandlers="*">
      </exceptionHandler>
   </extension>
   
   	<extension point="org.eclipse.core.variables.dynamicVariables">
		<variable
			description="Java system property resolver"
			name="java.system.property"
			resolver="org.eclipse.riena.core.util.JavaSystemPropertiesResolver"
			supportsArgument="true"/>
		<variable
			description="Function resolver"
			name="fn"
			resolver="org.eclipse.riena.core.util.FunctionResolver"
			supportsArgument="true"/>
	</extension>
   
</plugin>
