<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ssl" name="SSL configuration" schema="schema/sslConf.exsd"/>
   <extension-point id="remoteServiceFactories" name="Remote Service Factories" schema="schema/remoteServiceFactories.exsd"/>
   <extension-point id="proxySelectors" name="ProxySelector configuration" schema="schema/proxySelectors.exsd"/>
   <extension-point id="callHooks" name="Call Hooks" schema="schema/callHooks.exsd"/>
   
   <!-- Exemplary proxy selector 
   <extension
         point="org.eclipse.riena.communication.core.proxySelectors">
      <proxyselector
            order="100"
            name="Core.Net ProxySelector"
            class="org.eclipse.riena.communication.core.proxyselector.CoreNetProxySelector">
      </proxyselector>
      <proxyselector
            order="50"
            name="Manual ProxySelector"
            class="org.eclipse.riena.communication.core.proxyselector.ManualProxySelector: http=secret-proxy:42">
      </proxyselector>
   </extension>
   -->
</plugin>
