<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="rcpmailapp"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.riena.sample.app.client.rcpmail.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.riena.sample.app.client.rcpmail.Perspective"
            id="org.eclipse.riena.sample.app.client.rcpmail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.riena.sample.app.client.rcpmail.MessageView"
            id="org.eclipse.riena.sample.app.client.rcpmail.view">
      </view>
      <view
            name="Marker"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.riena.sample.app.client.rcpmail.MarkerSubModuleView"
            id="org.eclipse.riena.sample.app.client.rcpmail.MarkerSubModuleView">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.eclipse.riena.sample.app.client.rcpmail.NavigationView"
            id="org.eclipse.riena.sample.app.client.rcpmail.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.eclipse.riena.sample.app.client.rcpmail.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.eclipse.riena.sample.app.client.rcpmail.category"
            id="org.eclipse.riena.sample.app.client.rcpmail.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="org.eclipse.riena.sample.app.client.rcpmail.category"
            id="org.eclipse.riena.sample.app.client.rcpmail.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.riena.sample.app.client.rcpmail.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.riena.sample.app.client.rcpmail.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.riena.sample.app.client.rcpmail.rcpmailapp"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.riena.navigation.assemblies">
      <assembly
            id="org.eclipse.riena.sample.app.client.rcpmail.marker"
            name="marker"
            parentTypeId="ignored">
         <submodule
               typeId="org.eclipse.riena.sample.app.client.rcpmail.MarkerSubModuleView"
               view="org.eclipse.riena.sample.app.client.rcpmail.MarkerSubModuleView"
               controller="org.eclipse.riena.sample.app.client.rcpmail.MarkerSubModuleController"/>
      </assembly>
   </extension>
</plugin>
