<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.riena.filter.rulemapper">
      <mapper>
         <ridgetHiddenMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleRidgetHiddenMarker">
         </ridgetHiddenMarker>
         <ridgetDisabledMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleRidgetDisabledMarker">
         </ridgetDisabledMarker>
         <ridgetOutputMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleRidgetOutputMarker">
         </ridgetOutputMarker>
         <ridgetMandatoryMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleRidgetMandatoryMarker">
         </ridgetMandatoryMarker>
         <menuItemDisabledMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleMenuItemDisabledMarker">
         </menuItemDisabledMarker>
         <menuItemHiddenMarker
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleMenuItemHiddenMarker">
         </menuItemHiddenMarker>
         <ridgetValidator
               ruleClass="org.eclipse.riena.ui.ridgets.filter.UIFilterRuleRidgetValidator">
         </ridgetValidator>
      </mapper>
   </extension>

</plugin>
