<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="correspondingLabel" name="Corresponding Label Configuration" schema="schema/correspondingLabel.exsd"/>
   <extension-point id="labelFinderStrategy" name="Corresponding Label Strategy" schema="schema/labelFinderStrategy.exsd"/>
   <extension-point id="annotationHandler" name="Annotation Handler for Ridget Containers" schema="schema/annotationHandler.exsd"/>
   <extension-point id="bindingSupportProvider" name="BindingSupportProvider" schema="schema/bindingSupportProvider.exsd"/>

    <extension
         point="org.eclipse.riena.ui.ridgets.annotationHandler">
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnActionCallback"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.ActionCallbackAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnClick"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.ClickAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnSelectionChange"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.SelectionChangedAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnFocusGained"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.FocusGainedAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnFocusLost"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.FocusLostAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnPropertyChange"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.PropertyChangeAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnDoubleClick"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.DoubleClickAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnActionCallbacks"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.ActionCallbacksAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnClicks"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.ClicksAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnDoubleClicks"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.DoubleClicksAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnFocusGaineds"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.FocusGainedsAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnFocusLosts"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.FocusLostsAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnPropertyChanges"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.PropertyChangesAnnotationHandler">
      </annotationHandler>
      <annotationHandler
            annotation="org.eclipse.riena.ui.ridgets.annotation.OnSelectionChanges"
            handler="org.eclipse.riena.internal.ui.ridgets.annotation.handler.SeletionChangedsAnnotationHandler">
      </annotationHandler>

   </extension>
    <extension
          point="org.eclipse.riena.core.logCatchers">
       <logCatcher
             class="org.eclipse.riena.internal.ui.ridgets.databinding.DatabindingLogCatcher"
             name="Databinding LogCatcher">
       </logCatcher>
    </extension>
   
</plugin>
