<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Riena on E4" sequenceNumber="25">
<locations>
<location path="${project_loc:org.eclipse.riena.build3}/prebuild/plugins" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20131030-2000"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.4.0.v20131030-2000"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.0.I20131030-2000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20131028-0959"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones/"/>
</location>
</locations>
</target>
