<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Riena on RAP" sequenceNumber="24">
<locations>
<location path="${project_loc:org.eclipse.riena.build3}/prebuild/plugins" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.0.0.20140927-1523"/>
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.0.20140930-0953"/>
<repository location="http://download.eclipse.org/rt/rap/3.0"/>
</location>
</locations>
</target>
