<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Riena on E4" sequenceNumber="14">
<locations>
<location path="${project_loc:org.eclipse.riena.build3}/prebuild/plugins" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.3.0.v20130314-1730"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.3.0.v20130314-1730"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.3.0.I20130314-1330"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130314-0217"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
